body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

.coffeePage{
    display: flex;
    flex-direction: row;
}

.coffeeList{
    width: 50%;
}

.formInputs{
    width: 50%;
    flex-direction: column;
}

.coffee {
    margin: 2em;
    float: left;
    width: 25%;
}

.coffeeName {
    font-size: large;
    font-weight: bold;
    display: inline;
}

.roastLevel {
    color: darkgray;
    display: inline;
}

#coffee-selection {
    width: 100%;
}

#roast-selection {
    width: 100%;
}

#roastDropdown {
    margin: 2em;
    font-weight: bold;
}

#coffeeSearch {
    margin: 2em;
    font-weight: bold;
}

.divider {
    margin: 3em;
}

#roastAddSelection{
    margin: 2em;
}

#coffeeAddName{
    margin: 2em;
}

#roast-add-selection {
    width: 100%;
}

#coffee-add-name{
    width: 100%;
}

.submit{
    margin-top: 1em;
    width: 100%;
}

.coffeePage::before {
    content: "";
    background-image: url(../assets/assets.jpeg);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
}