body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../assets/output-onlinepngtools.png");
    background-size: cover;
}

h1 {
    text-align: center;
}


.coffee {
    margin: 2em;
    float: left;
    width: 25%;
}

.coffeeName {
    font-size: large;
    font-weight: bold;
    display: inline;
}

.roastLevel {
    display: inline;
}

#coffee-selection {
    width: 100%;
    opacity: 0.4;
}

#roast-selection {
    width: 100%;
    opacity: 0.4;
}

#roastDropdown {
    margin: 2em;
    font-weight: bold;

}

#coffeeSearch {
    margin: 2em;
    font-weight: bold;
}

.divider {
    margin: 3em;
}

#roastAddSelection{
    margin: 2em;
}

#coffeeAddName{
    margin: 2em;
}

#roast-add-selection {
    width: 100%;
    opacity: 0.4;
}

#coffee-add-name{
    width: 100%;
    opacity: 0.4;
}

.submit{
    margin-top: 1em;
    width: 100%;
}

hr {
    border-top: 4px double black;
}
